{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
    <meta name="keyword" content="{% block meta_keyword %}{% endblock meta_keyword %}" />
    <title>{% block title %}{% endblock title %}</title>
    <!-- <link rel="shortcut icon" href="{% static 'img/favicon_io/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}"> -->

    <link rel="stylesheet" href="{% static 'css/bootstrap-5.2.3.css' %}" />
    {% block head %}{% endblock head %}
</head>
<body>
    {% block body %}{% endblock body %}

    <script src="{% static 'js/bootstrap-5.2.3.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    {% block script %}{% endblock script %}
</body>
</html>
